.container{
  width: 100%;
  height: 100vh;
  background-color: goldenrod
  display : flex ;
  text-align : center;
  align-items: center;
  justify-content: center;
  margin-top:23px
}

table{
  margin: auto;
}

input{
  border-radius: 21px;
  border: 5px solid #58d458;
  font-size:34px;
  height: 65px;
  width: 456px;
}

button{
  border-radius: 20px;
  border-color: aliceblue;
  font-size: 40px;
  background: #440f81;
  width: 102px;
  height: 90px;
  margin: 6px;
}

.calculator{ 
  border: 4px solid #13695d;
  background-color: #3d0c8d;
  padding: 23px;
  border-radius: 53px;
  display: inline-block;
  
}

h1{
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(182, 184, 147), rgb(33, 95, 57));
  }